[Unit]
Description=httpd deamon
After=promisc.service

[Service]
Type=forking
ExecStart=/lib/systemd/systemd-httpd start
ExecStop=/lib/systemd/systemd-httpd stop

[Install]
WantedBy=multi-user.target

